mixin Head
	title=seo(girl, activeCity).title
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(name="description", itemprop="description", content=seo(girl, activeCity).description)
	meta(name="robots", content="index, follow")
	meta(name="distribution", content="Global")
	meta(name="rating", content="General")
	meta(name="classification", content="Business")
	meta(name="fragment", content="!")
	meta(name="msapplication-TileColor", content="#F0D673")
	meta(name="msapplication-TileImage", content=`${host}/favicon/android-chrome-512x512.png`)
	meta(name="theme-color", content="#161616")
	meta(name="country", content="Brazil")
	meta(name="geo.country", content="-25.480876;-49.304425")
	meta(name="geo.region", content="BR-PR")
	meta(name="ICBM", content="-25.480876, -49.304425")
	meta(name="keywords", itemprop="keywords", content=seo(girl, activeCity).title)
	meta(name="twitter:image", content=`${host}/favicon/android-chrome-512x512.png`)
	meta(name="twitter:title", content=seo(girl, activeCity).title)
	meta(name="twitter:description", content=seo(girl, activeCity).description)
	meta(name="twitter:card", content="summary_large_image")
	meta(property="og:title", content=seo(girl, activeCity).title)
	meta(property="og:site_name", content="Matriarcal Acompanhantes")
	meta(property="og:description", content=seo(girl, activeCity).description)
	meta(property="og:type", content="website")
	meta(property="og:image", content=`${host}/favicon/android-chrome-512x512.png`)
	meta(property="og:url", content=url)
	link(rel="canonical", href=url)
	link(rel="shortcut icon", href="/favicon/favicon.ico")
	link(rel="icon", type="image/png", sizes="32x32", href="/favicon/favicon-32x32.png")
	link(rel="icon", type="image/png", sizes="16x16", href="/favicon/favicon-16x16.png")
	link(rel="apple-touch-icon", sizes="192x192", href="/favicon/android-chrome-192x192.png")
	link(rel="manifest", href="/favicon/manifest.json")
	link(rel="stylesheet", href="/css/max-width-1000px.css", media="(max-width: 1000px)")
	link(rel="stylesheet", href="/css/min-width-1000px.css", media="(min-width: 1000px)")
	link(rel="stylesheet", href="/css/app.css")
	link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&display=swap")
	script(type="application/ld+json", src="/jsonld.json")